*pyc
*~
*.swp
*.tex

.idea
build
dist
rnadeep.egg-info

examples/slurm/*
examples/models/*
examples/RNAdeep-models

rnaconv/data/dummy/rfam/seed_alignments
rnaconv/data/dummy/rfam/seed_frequencies
rnaconv/data/dummy/rfam/seed_neighbourhoods
rnaconv/data/dummy/rfam/seed_trees/fixed
rnaconv/data/dummy/sissi
rnaconv/data/dummy/output.txt

rnaconv/data/small/rfam/seed_alignments
rnaconv/data/small/rfam/seed_frequencies
rnaconv/data/small/rfam/seed_neighbourhoods
rnaconv/data/small/rfam/seed_trees/fixed
rnaconv/data/small/sissi
rnaconv/data/small/output.txt

rnaconv/data/ambiguous/rfam/seed_alignments
rnaconv/data/ambiguous/rfam/seed_frequencies
rnaconv/data/ambiguous/rfam/seed_neighbourhoods
rnaconv/data/ambiguous/rfam/seed_trees/fixed
rnaconv/data/ambiguous/sissi
rnaconv/data/ambiguous/output.txt

rnaconv/data/full/rfam/seed_alignments
rnaconv/data/full/rfam/seed_frequencies
rnaconv/data/full/rfam/seed_neighbourhoods
rnaconv/data/full/rfam/seed_trees/fixed
rnaconv/data/full/sissi
rnaconv/data/full/output.txt
