*pyc
*~
*.swp
*.tex

.idea
build
dist
rnadeep.egg-info

playground.py

# documentation
doc/html

# models & logs
examples/RNAdeep-models
examples/slurm/RNAdeep-..
examples/models/*
examples/script/tf-logs
examples/script/AT-*
examples/slurm/out/*
examples/slurm/tf-logs
examples/slurm/AT-*

# datasets
rnaconv/data/rfam/full/seed_alignments
rnaconv/data/rfam/full/seed_frequencies
rnaconv/data/rfam/full/seed_neighbourhoods
rnaconv/data/rfam/full/seed_trees/fixed
rnaconv/data/rfam/full/seed_trees/rescaled
rnaconv/data/rfam/full/convert_o.txt
rnaconv/data/rfam/full/filter_o.txt
rnaconv/data/rfam/ambiguous/seed_alignments
rnaconv/data/rfam/ambiguous/seed_frequencies
rnaconv/data/rfam/ambiguous/seed_neighbourhoods
rnaconv/data/rfam/ambiguous/seed_trees
rnaconv/data/rfam/ambiguous/filter_o.txt
rnaconv/data/rfam/dummy/seed_alignments
rnaconv/data/rfam/dummy/seed_frequencies
rnaconv/data/rfam/dummy/seed_neighbourhoods
rnaconv/data/rfam/dummy/seed_trees
rnaconv/data/rfam/dummy/filter_o.txt
rnaconv/data/rfam/maxlen250/seed_alignments
rnaconv/data/rfam/maxlen250/seed_frequencies
rnaconv/data/rfam/maxlen250/seed_neighbourhoods
rnaconv/data/rfam/maxlen250/seed_trees
rnaconv/data/rfam/maxlen250/filter_o.txt
rnaconv/data/rfam/AT-*

# generated datasets
rnaconv/data/generated/alignment/full/sequences
rnaconv/data/generated/alignment/full/alignments
rnaconv/data/generated/alignment/full/neighbourhoods
rnaconv/data/generated/alignment/full/frequencies
rnaconv/data/generated/alignment/full/generate_o.txt
rnaconv/data/generated/alignment/full/filter_o.txt
rnaconv/data/generated/alignment/ambiguous/sequences
rnaconv/data/generated/alignment/ambiguous/alignments
rnaconv/data/generated/alignment/ambiguous/neighbourhoods
rnaconv/data/generated/alignment/ambiguous/frequencies
rnaconv/data/generated/alignment/ambiguous/generate_o.txt
rnaconv/data/generated/alignment/ambiguous/filter_o.txt
rnaconv/data/generated/alignment/dummy/sequences
rnaconv/data/generated/alignment/dummy/alignments
rnaconv/data/generated/alignment/dummy/neighbourhoods
rnaconv/data/generated/alignment/dummy/frequencies
rnaconv/data/generated/alignment/dummy/generate_o.txt
rnaconv/data/generated/alignment/dummy/filter_o.txt
rnaconv/data/generated/alignment/maxlen250/sequences
rnaconv/data/generated/alignment/maxlen250/alignments
rnaconv/data/generated/alignment/maxlen250/neighbourhoods
rnaconv/data/generated/alignment/maxlen250/frequencies
rnaconv/data/generated/alignment/maxlen250/generate_o.txt
rnaconv/data/generated/alignment/maxlen250/filter_o.txt
rnaconv/data/generated/alignment/maxlen250_filtered/sequences
rnaconv/data/generated/alignment/maxlen250_filtered/alignments
rnaconv/data/generated/alignment/maxlen250_filtered/neighbourhoods
rnaconv/data/generated/alignment/maxlen250_filtered/frequencies
rnaconv/data/generated/alignment/maxlen250_filtered/generate_o.txt
rnaconv/data/generated/alignment/maxlen250_filtered/filter_o.txt
rnaconv/data/generated/alignment/AT-*

rnaconv/data/generated/family/full/sequences
rnaconv/data/generated/family/full/alignments
rnaconv/data/generated/family/full/neighbourhoods
rnaconv/data/generated/family/full/frequencies
rnaconv/data/generated/family/full/generate_o.txt
rnaconv/data/generated/family/full/filter_o.txt
rnaconv/data/generated/family/ambiguous/sequences
rnaconv/data/generated/family/ambiguous/alignments
rnaconv/data/generated/family/ambiguous/neighbourhoods
rnaconv/data/generated/family/ambiguous/frequencies
rnaconv/data/generated/family/ambiguous/generate_o.txt
rnaconv/data/generated/family/ambiguous/filter_o.txt
rnaconv/data/generated/family/dummy/sequences
rnaconv/data/generated/family/dummy/alignments
rnaconv/data/generated/family/dummy/neighbourhoods
rnaconv/data/generated/family/dummy/frequencies
rnaconv/data/generated/family/dummy/generate_o.txt
rnaconv/data/generated/family/dummy/filter_o.txt
rnaconv/data/generated/family/maxlen250/sequences
rnaconv/data/generated/family/maxlen250/alignments
rnaconv/data/generated/family/maxlen250/neighbourhoods
rnaconv/data/generated/family/maxlen250/frequencies
rnaconv/data/generated/family/maxlen250/generate_o.txt
rnaconv/data/generated/family/maxlen250/filter_o.txt
rnaconv/data/generated/family/maxlen250_filtered/sequences
rnaconv/data/generated/family/maxlen250_filtered/alignments
rnaconv/data/generated/family/maxlen250_filtered/neighbourhoods
rnaconv/data/generated/family/maxlen250_filtered/frequencies
rnaconv/data/generated/family/maxlen250_filtered/generate_o.txt
rnaconv/data/generated/family/maxlen250_filtered/filter_o.txt
rnaconv/data/generated/family/AT-*
