*pyc
*~
*.swp
*.tex
.idea/
build
dist
rnadeep.egg-info
examples/models
examples/RNAdeep-models

rnaconv/data/full/output.txt
rnaconv/data/full/rfam/seed_frequency
rnaconv/data/full/rfam/seed_neighbourhood
rnaconv/data/full/rfam/seed_tree/fixed
rnaconv/data/full/sissi
rnaconv/data/small/output.txt
rnaconv/data/small/rfam/seed_frequency
rnaconv/data/small/rfam/seed_neighbourhood
rnaconv/data/small/rfam/seed_tree/fixed
rnaconv/data/small/sissi
rnaconv/data/dummy/output.txt
rnaconv/data/dummy/rfam/seed_frequency
rnaconv/data/dummy/rfam/seed_neighbourhood
rnaconv/data/dummy/rfam/seed_tree/fixed
rnaconv/data/dummy/sissi
